<app-menu></app-menu>
<mat-card class="width col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <form class="row" (ngSubmit)="sendValues(f)" #f="ngForm">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 title">
            <h3>Suma</h3>
        </div>
        <div class="row">
            <mat-form-field appearance="outline" class="margin">
                <mat-label>Valor 1</mat-label>
                <input matInput id="value1" name="value1" ngModel required>
                <mat-error *ngIf="!f.value.value1 === null">
                    Este valor es requerido

                </mat-error>
            </mat-form-field> 
            <mat-form-field appearance="outline" class="margin-2">
                <mat-label>Valor 2</mat-label>
                <input matInput id="value2" name="value2" ngModel required>
            </mat-form-field>
        </div>
        <div>
            <button 
                mat-flat-button 
                color="primary" 
                class="margin-button-center"
                [disabled]="!f.valid">Sumar</button>
        </div>
    </form>  
        <div class="row">
                <mat-form-field appearance="outline" class="margin-result col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <mat-label>Resultado</mat-label>
                <input matInput id="result" value="{{result}}">
                </mat-form-field>
               <!--  <mat-form-field appearance="outline" class="input-width">
                    <mat-label >Sumas Realizadas</mat-label>
                    <textarea matInput placeholder="Ex. 100 Main St">{{text}}</textarea>
                </mat-form-field> -->
        </div>  
    
    </mat-card>
