<app-menu></app-menu>
<mat-card class="width">
    <div class="row">
        <div class="title">
            <h3>Suma</h3>
        </div>
        <div>
            <mat-form-field appearance="outline" class="margin">
                <mat-label>Valor 1</mat-label>
                <input matInput>
            </mat-form-field> 
            <mat-form-field appearance="outline" class="margin-2">
                <mat-label>Valor 2</mat-label>
                <input matInput>
            </mat-form-field>
        </div>
        <div>
            <button mat-flat-button color="primary" class="margin-button-center">Sumar</button>
        </div>
    </div>  
    <div class="row">
        <mat-form-field appearance="outline" class="margin-result">
            <mat-label>Resultado</mat-label>
        <input matInput>
        </mat-form-field>
    </div>  
</mat-card>
