.margin{
    margin-left: 2%;
    width: 45%;
}

.margin-2{
    margin-left: 4%;
    width: 45%;
}

.title{
    text-align: center;
    color: #6682E3;
    text-transform: capitalize;
    font-size: medium;
}

.width{
    max-width: 600px;
    min-width: 400px;
    margin-left:20%;
    margin-top: 40px;
}

.margin-button-center{
    text-align: center;
    margin-left: 43%;
}

.margin-result{
    text-align: center;
    margin-left: 18%;
    margin-top: 40px;
    width: 60%;
}

.input-width{
    margin-left: 2%;
    margin-top: 40px;
    width: 70%
}